* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.box {
	/* display: flex; */
	/* flex-direction: column; */
	/* width: 500px; */
	padding: 25px;
	/* margin: 0 auto; */
	/* margin-top: 20px; */
	background-color: rgba(95, 158, 160, 0.513);
	border-radius: 10px;
}

/* input {
	outline: none;
	border: none;
	padding: 5px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.512);
	background-color: transparent;
	margin-bottom: 10px;
} */

/* button {
	padding: 5px;
	margin: 0 auto 50px;
	border-radius: 5px;
} */
img {
	display: block;
	max-width: 100%;
}
/* .cars-items {
	list-style: none;
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
} */
/* .cars-items > li {
	width: 100%;
} */
