* {
	box-sizing: border-box;
}
body.show-modal .backdrop {
	opacity: 1;
	pointer-events: initial;
	visibility: inherit;
}
button {
	cursor: pointer;
}
.open-btn {
	display: block;
	margin: 0 auto;
	margin-top: 50vh;
	transform: translateY(-50%);
}
.backdrop {
	position: absolute;
	background-color: rgba(128, 128, 128, 0.5);

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: all 250ms;
}
/* .backdrop.show-modal {
	opacity: 1;
	pointer-events: initial;
	visibility: inherit;
} */
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	max-height: 85vh;
	padding: 35px;
	overflow-y: auto;
	background-color: azure;
	border-radius: 10px;
	transition: all 250ms;
}
.modal__title {
	text-align: center;
}
.modal__paragraph {
	text-align: justify;
}
.close-btn {
	display: block;
	margin: 0 auto;
}
