*,
*::defore,
*::afte {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
}
.main {
	margin: 0 auto;
	padding: 50px 25px;
	background-color: rgba(128, 128, 128, 0.533);
	width: 75vw;
}
.title {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;

	text-align: center;
}
.img {
	display: block;
	max-width: 100%;
}
.text {
	display: block;
	font-size: 16px;
	text-align: center;
	width: 300px;
	margin: 50px auto;
}
