*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}
body {
	background-color: grey;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
div {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	font-size: 20px;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 5px;
}
span {
	font-size: 35px;
	margin: 0 20px;
}
