body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.form {
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
}
input {
	width: 100%;
	border: none;
	padding: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
	font-size: 25px;
}
.btn {
	padding: 15px 25px;
	background-color: aqua;
	border-radius: 10px;
	font-size: 25px;
}
